@model ProductListViewModel

<div class="mt-4">
    <h1>@Model.CurrentCategory</h1>
    <p>Xia Bags, a brand with a fun and feminine spirit.</p>
</div>


<div class="container">
    <div class="row">
        @foreach (var product in Model.Products) {

           <partial name="_ProductDetails" for="<@product" />
        }
    </div>
</div>
