<nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow pt-3 mt-3 mb-3" style="background-color: #FF4040;">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-4 col-lg-4 offset-1" style="color: white">
                <h4>Perfil</h4>
                <p class="text-justify">
                   Xia Bags was born out of a deep love for sewing and artisanal prints.
                </p>
                <p class="text-justify">
                    Since its creation, celebrates creativity and craftsmanship, fueled by a passion for
                    exploration and a genuine commitment to our global community. We make crafts accessible
                    and seek to demonstrate that ethical trade also makes business sense.
                </p>
                <p class="text-justify">
                    Our mission is to enrich the lives of our customers by offering
                    captivating collections and delivering exceptional shopping experiences.
                </p>
                <p class="text-justify">
                    Each of our collections draws inspiration from enchanting places,
                    captivating colors, patterns, textures, and artisanal printing techniques.
                </p>
            </div>

            <div class="col-10 col-md-3 col-lg-2 offset-1" style="color: white">
                <h4>Contact us</h4>
                <ul class="list-unstyled">
                    <li class="py-1"> <a class="links" href="lanchesmac@hotmail.com" style="color: white">lanchesmac@hotmail.com</a></li>
                </ul>
            </div>

            <div class="col-10 col-md-3 col-lg-2 offset-1" style="color: white">
                <a class="nav-link links" asp-area="" asp-controller="Contact" asp-action="Index" style="color: white">Contact us</a>
                <a class="nav-link links" asp-area="" asp-controller="Home" asp-action="Privacy" style="color: white">Privacy Police</a>
            </div>
        </div>
    </div>
</nav>