@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>By accessing our online page, you agree to accept and respect this Privacy Policy.</p>

<p> 
    The XiaBags website respects the privacy rights of its users, and no personal information is collected abusively. 
    The personal data entrusted to you will be processed by Breakedge with guarantees of security and confidentiality, 
    with the legal basis for data protection being Regulamento (UE) 2016/679 (Regulamento Geral sobre a Proteção de Dados – RGPD).
</p>

<h6>Your rights</h6>
<p>The Regulamento Geral sobre a Proteção de Dados – RGPD confers rights on data holders so that they can have control over them.</p>

<p>
    To Data holders are guaranteed the right to access, rectify or delete their personal data. If you have any questions and/or want to
    exercise your rights, you can contact us at xiabags@gmail.com.
</p>

<h6>When do we collect the data?</h6>
<p>User data is collected through the forms to buy our products on the page www.xiabags.com.</p>

<h6>Purpose for which data is collected</h6>
<p>
    Some data relating to visits are collected automatically and are intended to produce statistics on navigation on the XiaBags page,
    such as the number of visits, the pages viewed and the duration of visits.
</p>The information given in the forms is used to sent our products.</p>
    
<h6>Data sharing</h6>
<p>The data you provide will not be passed on to third parties, whether partners, cloud services or others.</p>

<h6>Information about cookies</h6>
   
<p>Cookies are used at XiaBags to help optimize the various pages, as well as improve your user experience. 
    Cookies are small files that a website places on your device via your internet browser. Cookies do not cause any harm, 
    do not contain viruses or any harmful software.
</p>

<p>
    Cookies are used to collect information about how you use the website, which pages you have visited, the average length 
    of the visit, etc.
</p>

<p>
    You can block the use of cookies by activating this option in your browser, and you can do this for all cookies or just some.
    Please note that when blocking or deleting one or more cookies, the page may not work as expected.
</p>