<div class="container-fluid bg-light p-5">
    <h1 class="display-4">Contact us</h1>
    <p class="lead">
        Leave us a message!
        We usually respond within 1 to 2 business days
    </p>
    <hr class="my-4">
</div>


<div class="container text-center mt-4">
    <div class="col-12">
        <h5><email address="xiabags@gmail.com" subject="Enviar um e-mail"></email></h5>
        <br />
        <h5>Mobile: (+351) 912345678</h5>
        <br />
        <h5>Lisbon, Portugal</h5>
    </div>
</div>
